.home, html {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;
    background: #FBFBFB;
}